// Reusuable classes

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-sm {
  max-width: 980px;
  margin: 0 auto;
}

.title {
  color: #bea67c;
  font-size: 100px;
  font-weight: 700;
  line-height: 99.96px;
  letter-spacing: 20.01px;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  // line-height: 69.97px;
  letter-spacing: 2.8px;

  border: 2px solid #ffffff;
}

.block__title {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.36px;
}

.block__text {
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.38px;
}

.block__btn {
  position: relative;

  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 2.8px;

  &:after {
    content: url("../images/arrow-right-gold.png");
  }

  &:before {
    content: "";
    width: 44px;
    border-bottom: solid 4px #bea67c;
    position: absolute;
    bottom: 17px;
    z-index: 1;
  }
}

.block__num {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2.7px;

  span {
    color: #bea67c;
  }
}

.black-line-left {
  padding-left: 182px;
  position: relative;

  &:before {
    content: "";
    width: 151px;
    border-bottom: solid 1px #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}

.white-line-left {
  padding-left: 182px;
  position: relative;

  &:before {
    content: "";
    width: 151px;
    border-bottom: solid 1px #fff;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}

.white-line {
  height: 151px;
  width: 1px;
  background-color: #fff;
}

.black-line-right {
  padding-right: 182px;
  position: relative;

  &:before {
    content: "";
    width: 151px;
    border-bottom: solid 1px #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
  }
}

.gold-line-left {
  padding-left: 182px;
  position: relative;

  &:before {
    content: "";
    width: 44px;
    border-bottom: solid 4px #bea67c;
    position: absolute;
    left: 107px;
    top: 12px;
    z-index: 1;
  }
}

.gold-line-right {
  padding-right: 182px;
  position: relative;

  &:before {
    content: "";
    width: 44px;
    border-bottom: solid 4px #bea67c;
    position: absolute;
    right: 107px;
    top: 12px;
    z-index: 1;
  }
}

.line {
  width: 4px;
  height: 51px;
  background-color: #c0af91;
}

.line-sm {
  width: 25px;
  height: 1px;
  background-color: #bea67c;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #303030;
  border-radius: 50%;

  cursor: pointer;
}

.active-circle {
  background-color: #bea67c;
}

.large-letter {
  position: absolute;

  opacity: 0.07;
  color: #bea67c;
  font-size: 396px;
  font-weight: 700;
  line-height: 439.49px;
  letter-spacing: 18px;
}

.text-transparent {
  color: #fff;
  opacity: 0.5;

  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.38px;

  transition: all 0.3s linear;

  &:hover {
    opacity: 1;
  }
}

.logo {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 10.8px;
}

.logo-line {
  width: 64px;
  height: 4px;
  background-color: #bea67c;
}

.title-transparent {
  position: absolute;

  opacity: 0.2;
  color: #d0d0d0;
  font-size: 169px;
  font-weight: 700;
  letter-spacing: 3.36px;
}

.block-1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  img {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  }

  figcaption {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.block-1-front {
  position: relative;

  .block__btn {
    margin-left: 182px;
  }

  .line {
    position: absolute;
    left: 20px;
    bottom: -155px;
  }
}

.block-1-reverse {
  position: relative;

  figcaption {
    .block__title {
      text-align: right;
    }

    .block__text {
      text-align: right;
    }

    .block__btn {
      margin-left: 120px;
    }

    .block__num {
      text-align: right;
    }
  }

  .title-transparent {
    top: 100px;
    left: -350px;
  }

  .line {
    position: absolute;
    right: 35px;
    bottom: -155px;
  }
}

.w-540 {
  max-width: 540px;
}

.w-460 {
  max-width: 460px;
}
