.furniture {
  position: relative;
  margin-top: 90px;

  .block__text {
    margin-top: 30px;
  }

  .title-transparent {
    width: 700px;
    overflow: hidden;
    top: 100px;
    right: -360px;
  }
}
