.header {
	position: relative;

	.header__bg {
		.header__bg-1 {
			position: absolute;
			background-color: #000;
			left: 0;
		}

		.header__bg-2 {
			position: absolute;
			background-color: #000;
			right: 0;
		}
	}

	.header__content {
		padding: 31px 27px 0;

		position: relative;
		z-index: 1;

		.header__top {
			display: flex;
			justify-content: space-between;

			.menu {
				cursor: pointer;

				display: flex;
				align-items: center;

				.menu-icon {
					margin-right: 12px;

					width: 33px;
					height: 22px;

					display: flex;
					flex-direction: column;
					justify-content: space-between;



					div {
						 width: 33px;
						 height: 1px;
						 background-color: #bea67c;
					}
				}
			}

			.header__top-center {
				display: flex;
				align-items: center;

				.logo-lg {
					margin-left: 185px;

					position: relative;

					.logo-line {
						position: absolute;
						top: 18px;
						left: 46px;

					}
				}

				.nav {
					margin-left: 100px;

					ul {

						li {
							display: inline-block;

							&:not(:last-child) {
								margin-right: 119px;
							}

							a {
								

							}
						}
					}
				}
			}

			.header__top-right {
				display: flex;
				align-items: center;

				.info {
					margin-right: 52px;
					cursor: pointer;
				}

				.lang {
					cursor: pointer;
					border: none;
					outline: none;

					background-color: transparent;
					opacity: 0.5;
					color: #ffffff;
					font-size: 15px;
					font-weight: 700;
					letter-spacing: 0.75px;

					option {
						background-color: #000;
						color: gray;
						font-size: 15px;
						font-weight: 700;
						letter-spacing: 0.75px;
 					}
				}
			}

		}

		.header__hero {

			.hero__content {
				margin-top: 250px;

				position: relative;

				display: flex;
				justify-content: center;

				.hero__content-1 {
					position: absolute;
					left: 0;
					top: -50px;


					width: 36px;

					display: flex;
					flex-direction: column;
					align-items: center;

					.block-number {
						margin: 25px 0 85px;
						color: #bea67c;
						font-size: 90px;
						font-weight: 700;
						line-height: 100px;
						letter-spacing: 9px;

						transform: rotate(90deg);
					}

					.circles {

						.circle {

							&:not(:last-child) {
								margin-bottom: 40px;
							}
						}
					}

				}

				.hero__content-2 {
					margin-right: 10px;

					.hero-btn {
						margin: 61px 0 68px;
						padding: 24px 109px 24px 86px;

						&:after {
							content: url('../images/arrow-right.png');
						}
					}

					.scroll {
						width: 20px;

						display: flex;
						flex-direction: column;
						align-items: center;

						cursor: pointer;

						.arrow-scroll {
							margin: 23px 0;
						}

						span {
							transform: rotate(90deg);

							opacity: 0.1;
							color: #fff;
							font-size: 14px;
							font-weight: 700;
							line-height: 70px;
							letter-spacing: 2.8px;
						}
					}
					
				}

				.hero__content-3 {
					position: absolute;
					right: -150px;
    				top: 170px;

					height: 28px;
					// width: 350px;

					// align-self: center;
					transform: rotate(90deg);

					.vertical-text {
						opacity: 0.2;
						color: #bea67c;
						font-size: 24px;
						font-weight: 700;
						// line-height: 100px;
						letter-spacing: 4.81px;

						
					}
					
				}
			}
		}

		.header__bottom {
			position: absolute;
			right: 31px;
			bottom: -185px;
		}

	}
}